[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/ri.vim"]
	path = bundle/ri.vim
	url = git@github.com:danchoi/ri.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git@github.com:vim-scripts/ZoomWin.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-sqf"]
	path = bundle/vim-sqf
	url = git@github.com:KoffeinFlummi/vim-sqf.git
[submodule "bundle/taboo.vim"]
	path = bundle/taboo.vim
	url = git@github.com:gcmt/taboo.vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-ember-hbs"]
	path = bundle/vim-ember-hbs
	url = https://github.com/joukevandermaas/vim-ember-hbs.git
[submodule "bundle/pgsql.vim"]
	path = bundle/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "bundle/Jenkinsfile-vim-syntax"]
	path = bundle/Jenkinsfile-vim-syntax
	url = git@github.com:martinda/Jenkinsfile-vim-syntax.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
